@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply m-0 p-0 box-border;
  }

  .nav-text {
    @apply font-main_font text-light_black tracking-widest text-xl;
  }

  .logo-text {
    @apply text-3xl sm:text-4xl font-extrabold text-main_teal drop-shadow-lg;
  }

  .nav-link-styles {
    @apply hover:text-main_teal cursor-pointer duration-300 ease-in-out text-base;
  }
}

.login-img {
  height: 100%;
  width: 35%;
  background: url("../../client/public/images/log-in-image.avif") 50% no-repeat;
  background-size: cover;
  background-position: center 30%;
}

.landing_background {
  height: auto;
  width: 100%;
  background: url("../../client/public/images/true-image.jpg");
  background-size: cover;
}

.custom_shadow {
  box-shadow: 25px 25px #e8e076;
}

.scroll_down_arrow {
  position: relative;
  bottom: -300px;
  right: -200px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-img {
  height: 100px;
}

.custom-border::after {
  position: relative;
  content: " ";
  margin-top: 4px;
  display: block;
  height: 7px;
  border-radius: 5px;
  width: 175px;
  background-color: #e8e076;
}
