@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply m-0 p-0 box-border;
  }

  .nav-text {
    @apply font-main_font text-light_black tracking-widest text-xl;
  }

  .logo-text {
    @apply text-3xl  sm:text-4xl font-extrabold text-main_teal drop-shadow-lg;
  }

  .nav-link-styles {
    @apply hover:text-main_teal cursor-pointer duration-300 ease-in-out;
  }
}

.landing_div {
  height: 1000px;
  background-image: url("../public/images/landing-image.avif");
  background-position: center;
  margin-bottom: 50px;
}
